<html>
<head>
    <title>test page 1 changed</title>
    <link href="../css/stylesheet1.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <h1>this is the first test page</h1>
    <p class="red">Assertively leverage existing scalable growth strategies with revolutionary value. Distinctively recaptiualize top-line models rather than leveraged e-commerce. Quickly engineer orthogonal e-markets via holistic human capital.</p>
    <p class="box purple">this is a test with two classes</p>
    <p class="blue">Appropriately incubate collaborative imperatives after team building networks. Uniquely enhance sticky e-services for value-added solutions. Seamlessly parallel task value-added quality vectors before state of the art methods of empowerment.</p>
    <p class="green underline">Interactively strategize plug-and-play platforms whereas efficient infrastructures. Synergistically negotiate user-centric metrics rather than worldwide quality vectors. Holisticly deliver bleeding-edge leadership vis-a-vis world-class architectures.</p>
    <p id="special">Professionally iterate multifunctional systems before optimal materials. Efficiently reintermediate wireless total linkage with distributed portals. Globally exploit resource-leveling human capital without economically sound infomediaries.</p>
    <p id="special2" class="italic">Intrinsicly streamline user-centric users before visionary scenarios. Dynamically repurpose seamless channels via multifunctional process improvements. Professionally synthesize exceptional infrastructures without premier vortals.</p>
    <script type="text/javascript" src="../js/test.js"></script>
</body>
</html>